<section id="about" class="about-section">
  <div class="cards-container">
    <div class="card" id="about-text">
      <p class="about-intro">
        נעים מאוד,
        <br>
        שמי אתי ואני מטפלת רגשית בגישת CBT בעצימות נמוכה,
        <br>
        מלווה נשים שמרגישות שהן תמיד צריכות להוכיח, לרצות או להשתפר - לעבור מתפקוד מתוך לחץ ואשמה, לחיים עם ביטחון, שלווה ותחושת ערך עצמי אמיתית.
        <br>
בגישה מבוססת מחקר, נבין יחד מה מפעיל אותך מבפנים – ונלמד כלים פשוטים לשינוי אמיתי במחשבות, ברגשות ובדרך שבה את מדברת עם עצמך.
      </p>
    </div>
    
    <div class="card card-image">
      <img src="assets/profile-image.png" alt="Profile" class="profile-image">
    </div>
  </div>
</section>
