/* About Section */
.about-section {
  background: #f9f9f9;
  padding: 175px 120px;
}

.cards-container {
  width: 1532px;
  max-width: 100%;
  display: flex;
  gap: 5rem;
  margin: 0 auto;
  justify-content: center;
}

/* Cards */
.card {
  background: #bec5bea6;
  /* border-radius: 20px; */
  padding: 2rem;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  height: 540px;
}

.card:first-child {
  width: 800px;
  flex-shrink: 0;
}

.card:last-child {
  width: 450px;
  flex-shrink: 0;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  margin: 0;
}

/* About Title */
.about-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
  margin: 0 0 1rem 0;
  text-align: center;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.title-divider {
  width: 85px;
  height: 5px;
  background: #a03939;
  margin: 0 auto 2rem;
}

/* About Text Content */
.about-intro {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--text-dark);
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.about-description {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--text-light);
  margin: 0;
}

/* Image Card */
.card-image {
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 540px;
}

.profile-image {
  width: 450px;
  height: 590px;
  object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-section {
    padding: 45px 20px;
  }
  
  .cards-container {
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .card {
    min-height: 450px;
  }
}

