<section id="about" class="about-section">
  <div class="cards-container">
    <div class="card" id="about-text">
      <h2 class="about-title">עליי</h2>
      <div class="title-divider"></div>
      <p class="about-intro">
        נעים מאוד, שמי אתי זק נשואה 2+, ואני מטפלת מוסמכת בגישת CBT בעצימות נמוכה ומדריכת הורים.
      </p>
      <p class="about-intro">
        אני מלווה נשים שמרגישות שהן תמיד צריכות להוכיח את עצמן, לרצות אחרים או להתפשר – לעבור מתפקוד מתוך עייפות, לחץ ואשמה לחיים עם ביטחון, שלווה ותחושת ערך אמיתית.
      </p>
      <p class="about-intro">
        בגישה מבוססת מחקר, נבין יחד מה מפעיל אותך מבפנים - ותלמדי כלים פשוטים לשינוי אמיתי במחשבות, ברגשות ובדרך שבה את מדברת עם עצמך.
      </p>
    </div>
    
    <div class="card card-image">
      <img src="assets/profile-image.png" alt="Profile" class="profile-image">
    </div>
  </div>
</section>
