<app-hero></app-hero>
<app-about-section appScrollAnimate></app-about-section>
<app-method-section appScrollAnimate></app-method-section>
<!-- <app-stages-section appScrollAnimate></app-stages-section> -->
<app-target-audience appScrollAnimate></app-target-audience>
<app-advantages-section appScrollAnimate></app-advantages-section>
<app-incourage-image-section></app-incourage-image-section>
<app-self-check-section appScrollAnimate></app-self-check-section>
<app-cta-form appScrollAnimate></app-cta-form>
<app-testimonials appScrollAnimate></app-testimonials>
