<div class="app-container" [class.rtl]="isRTL">
  <app-header></app-header>
  
  <main>
    <app-hero></app-hero>
    <app-about-section appScrollAnimate></app-about-section>
    <app-method-section appScrollAnimate></app-method-section>
    <!-- <app-stages-section appScrollAnimate></app-stages-section> -->
    <app-target-audience appScrollAnimate></app-target-audience>
    <app-incourage-image-section></app-incourage-image-section>
    <app-advantages-section appScrollAnimate></app-advantages-section>
    <app-cta-form appScrollAnimate></app-cta-form>
    <app-testimonials appScrollAnimate></app-testimonials>
  </main>
  
  <app-footer></app-footer>
</div>
