<div class="app-container" [class.rtl]="isRTL">
  <app-header></app-header>
  
  <main>
    <app-hero></app-hero>
    <app-about-section appScrollReveal></app-about-section>
    <app-method-section appScrollReveal></app-method-section>
    <!-- <app-stages-section appScrollReveal></app-stages-section> -->
    <app-target-audience appScrollReveal></app-target-audience>
    <app-incourage-image-section appScrollReveal></app-incourage-image-section>
    <app-advantages-section appScrollReveal></app-advantages-section>
    <app-cta-form appScrollReveal></app-cta-form>
    <app-testimonials appScrollReveal></app-testimonials>
  </main>
  
  <app-footer></app-footer>
</div>
