<section class="target-audience-section">
  <div class="container">
    <h2 class="section-title extendand">
      {{ 'targetAudience.title' | translate }}
    </h2>
    
    <div class="audience-grid">
      <div class="audience-content">
        <div class="audience-item" *ngFor="let item of audienceItems">
         <!--  <div class="item-icon">
            <i [class]="item.icon"></i>
          </div> -->
          <div class="item-text">
            <strong>{{ item.title | translate }}</strong>
           <!--  <p>{{ item.description | translate }}</p> -->
          </div>
        </div>
      </div>
      
      <div class="audience-image">
        <img src="assets/hands.jpg" alt="{{ 'targetAudience.imageAlt' | translate }}" class="audience-image-content">
      </div>
    </div>
  </div>
</section>
