<section id="method" class="method-section">
  <div class="container">
    <h2 class="section-title">
      {{ 'method.title' | translate }}
    </h2>
    <div class="title-divider"></div>
    
    <p class="method-description bolder">
      שיטת CBT – הדרך המעשית לשינוי 
    </p>
    <p class="method-intro">
    
      אם את מרגישה שהמחשבות שלך תקועות במקום, שהרגלים ישנים מנהלים אותך ושמצבי לחץ, חרדה או חוסר ביטחון מקשים עלייך להתקדם –  טיפול קוגניטיבי - התנהגותי יכול להיות בדיוק מה שאת צריכה!
      <br>
      <br>
      <b>CBT הינה גישה טיפולית ממוקדת-מטרה</b>, שמוכחת מחקרית כיעילה במיוחד ליצירת שינוי אמיתי בזמן קצר יחסית. היא מתמקדת בכאן ועכשיו – במה שמפעיל אותך, איך את חושבת, ואיך ניתן לשנות דפוסים שמקשים עלייך ביום-יום.
      <br><br>
      <b>בשיטה זו תרכשי כילים פרקטיים</b> -  תלמדי טכניקות שיסייעו לך לשלוט במחשבות, ברגשות ובהתנהגות, וליישם אותן בחיים האמיתיים.
      <br><br> 
      השיטה מעניקה כלים שתוכלי להמשיך להשתמש בהם גם שנים אחרי הטיפול!
    </p>
    
    <p class="method-intro">
      <b>מה תקבלי בתהליך ?</b>
    </p>
    
    <div class="advantages-list">
      <div class="advantage-item">
        <i class="fas fa-hands-helping advantage-icon"></i>
        <span class="advantage-text">ליווי מקצועי ורגיש</span>
      </div>
      <div class="advantage-item">
        <i class="fas fa-clipboard-list advantage-icon"></i>
        <span class="advantage-text">תוכנית טיפול מותאמת אישית</span>
      </div>
      <div class="advantage-item">
        <i class="fas fa-tools advantage-icon"></i>
        <span class="advantage-text">תרגולים וכלים לשימוש עצמי</span>
      </div>
      <div class="advantage-item">
        <i class="fas fa-crown advantage-icon"></i>
        <span class="advantage-text">תחושת שליטה חדשה בחיים</span>
      </div>
    </div>
  </div>
</section>
